@import "main.css";
@import "../../assets/sass/paper-kit/variables";

:host .content {
  background: rgb(41,79,109);
  background: linear-gradient(90deg, rgba(41,79,109,1) 0%, rgba(41,79,109,1) 25%, rgba(64,123,170,1) 100%); p {
    color: #b4d7f1;
    font-size: large;
  }
}
article > div {
  width: 50%;
  max-height: 50vh;
}
ngb-carousel {
  height: 100%;
  img{
    object-fit: cover;
    width:100%;
    margin: -6px 0;
  }
}

:host ::ng-deep .carousel-indicators {
  bottom: 15%;
  .active{
    background-color: $social-facebook;
  }
  li {
    background-color: $white-color;
    border: 0 none;
  }
}

/* En pantallas medianas y pequeñas */
@media (max-width: 980px) {
  article > div {
    width: 100% !important;
  }
  img{
    height: auto !important;
  }
  .content {
    order: -1 !important;
  }
}

/* En pantallas pequeñas */
@media screen and (max-width: 736px) {
  .post .content {
    padding: 2em 1.5em 3em 1.5em;
    header h2 {
      font-size: 1.75em;
    }
    .button {
      width: 100%;
    }
  }
}