<div class="section section-buttons contacto" style="background-color: lightgrey;">
    <div class="container">
        <div class="tim-title">
            <div itemscope itemtype="http://schema.org/LocalBusiness">
                <h2>Llámanos y pide tu presupuesto sin compromiso</h2>
                <span itemprop="telephone"><a class="telefono" href="tel:+34658456268">658 456 268</a></span>
            </div>
            <div>
                <h2>O háblanos por Facebook</h2>
                <a class="my-0" rel="tooltip" title="Visitanos en Facebook" data-placement="bottom" href="https://www.facebook.com/Puliservicios-397394460596334/" target="_blank">
                    <i class="fab fa-facebook fa-3x"></i>
                    <span style="margin-left: 0.3em;" class="puliserviciosFace">PuliServicios</span>
                </a>
            </div>
        </div>
    </div>
</div>