
:host > * {
  background: lightgray;
  min-height: 76vh;
  display: flex;
  align-items: center;
}
h2{
  margin: 0;
  padding: 0;
}
.contacto {
  a {
    color: #3b5998;
  }
}
.telefono {
  font-size: xxx-large;
}
.puliserviciosFace {
  font-size: xx-large;
}
