
:host > * {
  background: lightgray;
  min-height: 75vh;
  display: flex;
  align-items: center;
}

.contacto {
  padding: .6em 0;
  .container > div {
    margin: 1.8em 0;
  }
  h2 {
    font-size: xx-large;
    margin: 0;
    padding: 0 0 .2em 0;
  }
  a {
    font-size: xx-large;
    color: #3b5998;
    span {
      font-weight: bold;
    }
  }  
  a.wha {
    color: #00bb2d !important;
  }
  a.telefono {
    color: brown !important;
  }
}